<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401848299334-sa567p0s74dfuudp7urcdumm1s1bk66f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401848299334-sa567p0s74dfuudp7urcdumm1s1bk66f</string>
	<key>API_KEY</key>
	<string>AIzaSyAR65d7GJk7WMvf79GXLMafr3IioW3pdx4</string>
	<key>GCM_SENDER_ID</key>
	<string>401848299334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>todoappddd-ec246</string>
	<key>STORAGE_BUCKET</key>
	<string>todoappddd-ec246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401848299334:ios:a9cb1ce7b29081720fbf47</string>
</dict>
</plist>